[Desktop Entry]
Name=PJEOffice Pro
Type=Application
Exec=/opt/pjeoffice-pro/pjeoffice-pro.sh
Terminal=true
Icon=/opt/pjeoffice-pro/pjeoffice-pro.png
Comment=A set of tools for Linux presented in a user-friendly way
NoDisplay=false
Categories=Office
